venv/
__pycache__/
*.pyc
.idea/
.vscode/

database/employee_management.db
database/employee_management.db-shm
database/employee_management.db-wal

# Database backups
backups/**/*.db
backups/**/*.sqlite

# Logs
logs/*.log